<nav>
  <a routerLink="/">
    <img src="media/04.png" class="icon" />
  </a>
  <a routerLink="/Movies">
    <img src="media/03.png" class="icon" />
  </a>
  <a routerLink="/Series">
    <img src="media/02.png" class="icon" />
  </a>
  <!--                 v input property from mediaItem component  -->
  <!-- <mw-media-item [mediaItem]="firstMediaItem"></mw-media-item> -->
    <!--                            ^ from app component -->
</nav>
<section>
  <header>
    <h1>Media Watch List</h1>
    <p class="description">Keeping track of the media I want to watch.</p>
    <mw-media-item-form>
        
    </mw-media-item-form>
  </header>
  <router-outlet></router-outlet>
</section>