<header>
  <h2>Add Media to Watch</h2>
</header>
<!-- line 5: example of directive binding -->
<form
  [formGroup]="form" 
  (ngSubmit)="onSubmit(form.value)">
  <ul>
    <li>
      <label for="medium">Medium</label>
      <select name="medium" id="medium" formControlName="medium">
        <!-- the injected lookup list items -->
        <option *ngFor="let medium of lookupLists.mediums" value="{{medium}}">{{medium}}</option>
      </select>
    </li>
    <li>
      <label for="name">Name</label>
      <!-- Wire up fields to the form controls -->
      <input type="text" name="name" id="name" formControlName="name">
      <!-- Angular will add an error property to the form control, form group, or form array objects
      when they are invalid -->
      <!-- ? is safe navigation operator: a template expression operator,
      it tells the angular template parser "Hey! Stop here if the property before the operator is actually null" -->
      <div *ngIf="form.controls.name.errors?.pattern" class="error">
        Name has invalid characters
      </div>
    </li>
    <li>
      <label for="category">Category</label>
      <select name="category" id="category" formControlName="category">
        <option value="Action">Action</option>
        <option value="Science Fiction">Science Fiction</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Horror">Horror</option>
        <option value="Romance">Romance</option>
      </select>
    </li>
    <li>
      <label for="year">Year</label>
      <input type="text" name="year" id="year" maxlength="4" formControlName="year">
      <!-- Another error message
      <div *ngIf="form.controls.year.errors?.year" class="error">
        Must be between 
        {{form.controls.year.errors?.year.min}} 
        and 
        {{form.controls.year.errors?.year.max}}
      </div>
    </li>
  </ul>
  <!-- disables form validation if form is not valid -->
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>